<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/css/camerastyle.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/global.css" type="text/css" />
  <script src="https://kit.fontawesome.com/0270abbd8e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/capture.js"></script>
  <script src="/assets/js/nav.js"></script>
  <title>Fitness Tracker!</title>
  

</head>

<body>
 <div class="header">
  <div class="frow nowrap row-between height-100">
    <div id="logo" class="shrink-0">
      <span class="color-block-landing"></span>
      <div class="frow">
        <a class="logo">FitBOARD</a>
      </div>
    </div>
    <div class="nav width-100">
      <div class="frow justify-end height-100 width-100 items-center hidden-xs">
        <a class="ml-25">
          Sign Up
        </a>
        <a class="ml-25" id="goToProfile">
          Profile
        </a>
        <a class="ml-25" id="login-trigger">
          Login
        </a>
      </div>
      <div class="frow row-end visible-xs items-center height-100 width-100">
        <div id="mobile-links" class="frow row-around grow-1" hidden>
          <a>Sign Up</a>
          <a>Profile</a>
          <a>Login</a>
        </div>
        <button class="collaps-hamburger-menu" type="button" onclick="hamburgerDisplayLink()" >
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-3-4 height-100">
    <div class="frow justify-end items-center height-100">
      <nav>
        <div id="login-content">
          <form>
            <fieldset class="inputs">
              <input id="headerUsername" placeholder="Username" required>
              <input id="headerPassword" placeholder="Password" required>
            </fieldset>
            <fieldset>
              <button id="submitLogin" class="submit">Log In</button>
            </fieldset>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>
  {{{ body }}}
</body>



</html>