<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/css/global.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/0270abbd8e.js" crossorigin="anonymous"></script>
  <title>Fitness Tracker!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/landing.js"></script>
  <script src="/assets/js/home.js"></script>
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/signup.js"></script>
  <script src="/assets/js/form.js"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
  {{{ body }}}
</body>

</html>