<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../public/assets/css/style.css"
      type="text/css"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css"
    />
    <title>Fitness Tracker!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
  </head>
  <body>
    <header class="text-center shadow-light">
      <div class="frow row-between">
        <div class="logo">Fitness Tracker Name</div>
        <div class="navigation">
          <div>Sign In</div>
          <div>Create Account</div>
        </div>
      </div>
    </header>
    <div class="frow-container user-form">
      <label id="first-name">
        First Name
        <input />
      </label>
      <label id="first-name">
        Last Name
        <input />
      </label>
      DOB
      <input type="date" value="2017-06-01" />
      <label>
        Gender
        <select>
          <optgroup label="Gender">
            <option>Male</option>
            <option>Female</option>
            <option>Prefer not to say</option>
          </optgroup>
        </select>
      </label>
      <label id="pay-source">
        Venmo
        <input />
        Add a profile picture
        <input type="file"/>
    </div>
  </body>
</html>
