<div class="text-center shadow-light header">
    <div class="frow row-between">
        <div class="logo">FitBOARD</div>
        <span class="color-block"></span>
        <!-- hidden during form page since user does not have an account? -->
        <!-- <div class="navigation">
          <div>Sign In</div>
          <div>Create Account</div>
        </div> -->
    </div>
</div>
<div class="frow-container user-form user-inputs mt-15">
    <form id="cms">
        <label>
            First Name
            <input type="textarea" id="first-name" class="my-custom-textarea"></input>
        </label>
        <label>
            Last Name
            <input type="textarea" id="last-name" class="my-custom-textarea"></input>
        </label>
        <label>
            DOB
            <input id="date-age" type="date" class="m-5" value="" />
        </label>
        <label>
            Gender
            <select id="gender">
                <optgroup label="Gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Prefer not to say</option>
                </optgroup>
            </select>
        </label>
        <label class="">
            Venmo
            <input type="textarea" id="pay-source" class="my-custom-textarea"></input>
        </label>
        <label class="">
            Add a profile picture
            <input type="file" />
        </label>
        <button id="submit-form" class="my-custom-button items-center" type="submit">
            Submit
        </button>
    </form>
</div>