<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../public/assets/css/style.css"
      type="text/css"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css"
    />
    <title>Fitness Tracker!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
  </head>
  <body>
    <header class="text-center shadow-light">Fitness Tracker Name</header>
    <div class="frow-container">
      <div class="navigation-bar">
        <div>Sign In</div>
        <div>Create Account</div>
      </div>
      <div class="content">content here</div>
    </div>
  </body>
</html>
