<div class="header">
  <div id="mobile-hamburger-closed" class="frow height-100">
    <div class="col-xs-1-4">
      <span class="color-block-landing"></span>
      <div class="frow">
        <div class="justify-start height-100 logo">FitBOARD</div>
      </div>
    </div>
    <div class="nav col-xs-3-4 height-100">
      <div class="frow justify-end items-center height-100 visible-sm visible-md visible-lg">
        <a class="ml-25">
          About
        </a>
        <a class="ml-25" id="goToProfile">
          Profile
        </a>
        <a class="ml-25">
          Login
        </a>
      </div>
      <div class="frow justify-end height-100 visible-xs">
        <button id="mobile-hamburger-menu" type="button" onclick="hamburgerDisplayLink()">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>
    </div>
  </div>
  <div id="mobile-hamburger-displayed" class="frow row-around items-center small-nav height-100" hidden>
    <a>About</a>
    <a>Profile</a>
    <a>Login</a>
    <button id="collaps-hamburger-menu" type="button" onclick="hamburgerHideLink()">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</div>
<div class="frow mt-50">
  <div class="col-md-3-4 col-xs-3-4">
    <div class="frow column-center">
      <div class="frow column-center shadow-dark pl-5 pr-5 pb-20 pt-20 user-bc">
        <div>Username</div>
        <img
          src="https://images.unsplash.com/photo-1544098485-2a2ed6da40ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
          height="450" width="500"></img>
        <div>
          <i class="fas fa-heart mt-10" style="color:slategray;"></i>
          <i class="fas fa-comment ml-5" style="color:slategray;"></i>
        </div>
        <div class="mt-15">Workout: text area for previous peoples posts</div>
        <div>more information or tweets?</div>
      </div>
      <div class="frow column-center shadow-dark mt-30 pl-5 pr-5 pb-20 pt-20 user-bc">user2
        <img
          src="https://images.unsplash.com/photo-1544098485-2a2ed6da40ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
          height="450" width="500"></img>
        <div>
          <i class="fas fa-heart mt-10" style="color:slategray;"></i>
          <i class="fas fa-comment ml-5" style="color:slategray;"></i>
        </div>
        <div class="mt-15">Workout: text area for previous peoples posts</div>
        <div>more information or tweets?</div>
      </div>
      <div class="frow column-center shadow-dark mt-30 pl-5 pr-5 pb-20 pt-20 user-bc">user3
        <img
          src="https://images.unsplash.com/photo-1544098485-2a2ed6da40ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
          height="450" width="500"></img>
        <div>
          <i class="fas fa-heart mt-10" style="color:slategray;"></i>
          <i class="fas fa-comment ml-5" style="color:slategray;"></i>
        </div>
        <div class="mt-15">Workout: text area for previous peoples posts</div>
        <div>more information or tweets?</div>
      </div>
    </div>
  </div>
  <div class="col-md-1-4 col-xs-1-4 items-center">
    <div class="frow column-center">
      <div>
        <div class="frow row-center">
          <img
            src="https://images.unsplash.com/photo-1544098485-2a2ed6da40ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            height="80" width="82" class="user-profile-image"></img>
          <div class="ml-10">katiemcbride</div>
        </div>
      </div>
      <div class="mt-30 mr-10">Scoreboard
        <div class="shadow-dark">
          <ul>
            <li>1. I want to insert the graph of progress here.</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
    </div>
    <i class="fas fa-3x fa-plus-circle mt-20 popup" style="color:#D3C02F;" id="popupUser"></i>
    Check-In
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form novalidate="novalidate" id="userForm">
        <p>
          <div class="camera">
            <video id="video">Video stream not available.</video>
            <img id="photo" alt="The screen capture will appear in this box.">
            <button id="startbutton" type="button">Take photo</button>
          </div>
          <canvas id="canvas">
          </canvas>
          <div class="output">
            {{!-- <img id="photo" alt="The screen capture will appear in this box.">  --}}
          </div>
        </p>
        <div class="col-md-1-2" id="comment">
          <label>Workout:</label>
          <input type="text" maxlength="300" required="required" name="workoutPost" />
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>