<script src="/assets/js/index.js"></script>


<body>

  <main class="frow-container">
    <!-- can be kept as divs or h's pending on what we want to do, just messing with different styles -->
    {{!-- <h3 class="frow">
      <div class="slogan-font home-title">JOIN. COMPETE. WIN.</div>
    </h3> --}}
    <p class="popout">
	    <span>J</span>
	    <span>O</span>
	    <span>I</span>
	    <span>N.</span><br>
	    <span>C</span>
	    <span>O</span>
	    <span>M</span>
	    <span>P</span>
	    <span>E</span>
	    <span>T</span>
	    <span>E.</span><br>
      <span>W</span>
	    <span>I</span>
	    <span>N.</span>
    </p>
    <div class="scroll-down" id="indexScroll"></div>
    <!-- see above message for details  -->

    <div class="frow mt-50 sign-up">
      <div class="mt-20 top-font">Sign up for free today!</div>
      <div class="frow-container mt-30">
        <form novalidate="novalidate" id="userForm">
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" name="firstName" />
              <label>First Name</label>
              <div id="error-first-name" class="error" hidden>
                This field is required
              </div>
            </div>
          </div>
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" name="lastName" />
              <label>Last Name</label>
              <div id="error--name" class="error" hidden>
                This field is required
              </div>
            </div>
          </div>
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" name="userName" id="userName" />
              <label>User Name</label>
              <div id="error-user-name" class="error" hidden>
                This field is required
              </div>
            </div>
          </div>
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" name="email" />
              <label>Email</label>
              <div class="error" hidden>
                This field is required
              </div>
            </div>
          </div>
          <div class="frow gutters">
            <div class="frow col-md-1-2">
              <input type="password" maxlength="100" required="required" name="password" id="password" />
              <label>Password</label>
              <div class="error" hidden>
                <p>
                  Log in error:
                </p>
                <p>
                  Needs 8 characters
                </p>
                <p>
                  Must contain: one letter and one number
                </p>
              </div>
              <button id="register" class="col-md-1-2 mb-10 sign-up-btn">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="frow mt-100 card-icons">
      <div class="col-md-1-3"><i class="fas fa-3x fa-dumbbell"></i></i></div>
      <div class="col-md-1-3"><i class="fas fa-3x fa-user-friends"></i></div>
      <div class="col-md-1-3"><i class="fas fa-3x fa-dollar-sign"></i></div>
    </div>


    <div class="cards-container mt-5">
      <div class="child card-one">
        <div class="card-header">Post your workouts.</div>
        <p>Share your workouts with your friends and the FitBOARD community.</p>
      </div>
      <div class="child card-two ml-30">
        <div class="card-header">Create a Competition.</div>
        <p>Create a friendly competition and see who works out more. </p>
      </div>
      <div class="child card-three ml-30">
        <div class="card-header">Win some money.</div>
        <p>Winner takes home the money (and bragging rights).</p>
      </div>
    </div>

</main>