<script src="/assets/js/index.js"></script>


<body>

  <main class="frow-container">
    <!-- can be kept as divs or h's pending on what we want to do, just messing with different styles -->
    {{!-- <h3 class="frow">
      <div class="slogan-font home-title">JOIN. COMPETE. WIN.</div>
    </h3> --}}
    <p class="popout">
	    <span>J</span>
	    <span>O</span>
	    <span>I</span>
	    <span>N.</span><br>
	    <span>C</span>
	    <span>O</span>
	    <span>M</span>
	    <span>P</span>
	    <span>E</span>
	    <span>T</span>
	    <span>E.</span><br>
      <span>W</span>
	    <span>I</span>
	    <span>N.</span>
    </p>
    
  
    <!-- see above message for details  -->

    <div class="frow mt-50 sign-up">
      <div class="mt-20 top-font">Sign up for free today!</div>
      <div class="frow-container mt-30">
        <form novalidate="novalidate" class="user-form" id="userForm">
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" placeholder="First Name" name="firstName" />
              <div class="error">
                This field is required
              </div>
              
            </div>
          </div>
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" placeholder="Last Name" name="lastName" />
              <div class="error">
                This field is required
              </div>
            </div>
          </div>
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" name="userName" placeholder="User Name" id="userName" />
              <div class="error">
                This field is required
              </div>
              <div class="user-exists" id="userNameExists"></div>
            </div>
          </div>
          <div class="frow gutters">
            <div class="col-md-1-2">
              <input type="text" maxlength="100" required="required" placeholder="Email" name="email" />
              <div class="error">
                This field is required
              </div>
            </div>
          </div>
          <div class="frow gutters">
            <div class="frow col-md-1-2">
              <input type="password" maxlength="100" required="required" name="password" placeholder="Password" id="password" />
              <div class="error">
                <p>
                  Log in error:
                </p>
                <p>
                  Needs 8 characters
                </p>
                <p>
                  Must contain: one letter and one number
                </p>
              </div>
              <button id="register" class="col-md-1-2 mb-10 sign-up-btn">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="frow mt-100 card-icons">
    </div>

    <div class="frow">
      <div class="col-md-1-3 pl-10">
        <div class="frow hidden-xs"><i class="fas fa-3x fa-dumbbell"></i></i></div>
        <div class="shadow-light height-100 mb-15 p-10">
          <div class="card-header">Post your workouts.</div>
          <p>Share your workouts with your friends and the FitBOARD community.</p>
        </div>
      </div>
      <div class="col-md-1-3 pl-10">
        <div class="frow hidden-xs"><i class="fas fa-3x fa-user-friends"></i></div>
        <div class="shadow-light height-100 mb-15 p-10">
          <div class="card-header">Compete.</div>
          <p>Create a friendly competition and see who works out more. </p>
        </div>
      </div>
      <div class="col-md-1-3 pl-10">
        <div class="frow hidden-xs"><i class="fas fa-3x fa-dollar-sign"></i></div>
        <div class="shadow-light height-100 mb-15 p-10">
          <div class="card-header ">Win some money.</div>
          <p>Winner takes home the money (and bragging rights).</p>
        </div>
      </div>

    </div>


</main>