<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../public/assets/css/global.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../public/assets/css/landing.css"
      type="text/css"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap"
      rel="stylesheet"
    />
    <title>Fitness Tracker!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../public/assets/js/landing.js"></script>
  </head>
  <body>
    <header class="frow justify-between">
      <div>
        <div class="logo p-5">FitBOARD</div>
        <span class="color-block"></span>
      </div>
      <div class="frow centered visible-md visible-lg">
        <a class="p-5 ml-30">
          About
        </a>
        <a class="ml-30">
          Account
        </a>
        <a class="p-5 ml-30">
          Sign Up
        </a>
      </div>
      <div id="mobile-hamburger-closed">
        <button
          id="mobile-hamburger-menu"
          class="visible-xs"
          type="button"
          onclick="hamburgerDisplyLink()"
        >
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>
      <div
        id="mobile-hamburger-displayed"
        class="fow column-center small-nav nowrap"
        hidden
      >
        <ul class="frow centered-column">
          <li>
            <a>About</a>
          </li>
          <li>
            <a>Account</a>
          </li>
          <li>
            <a>Sign Up</a>
          </li>
        </ul>
      </div>
    </header>
    <main class="frow-container mt-20">
      <!-- can be kept as divs or h's pending on what we want to do, just messing with different styles -->
      <h3 class="frow">
        Intro to our product FitBOARD
      </h3>
      <h4 class="frow mt-10">
        Facts about fitness fitBoard random info reagarding stuff
      </h4>
      <!-- see above message for details  -->

      <div class="frow nowrap mt-20">
        <label
          class="col-md-5-6 col-xs-4-5 user-form user-inputs my-custom-textarea mx-5"
        >
          <input
            id="user-email"
            type="text"
            placeholder="Enter Your Email Address"
          />
        </label>
        <button class="col-md-1-6 col-xs-1-5 mx-5">Git Fit</button>
      </div>
      <div></div>
    </main>
  </body>
</html>
