<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../public/assets/css/global.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../public/assets/css/landing.css"
      type="text/css"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap"
      rel="stylesheet"
    />
    <title>Fitness Tracker!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../public/assets/js/landing.js"></script>
  </head>
  <body>
    <header class="text-center">
      <div class="frow">
        <div class="logo">FitBOARD</div>
        <span class="color-block"></span>
        <!-- hidden during form page since user does not have an account? -->
      </div>
    </header>
    <main class="frow-container mt-20">
      <div class="frow">
        Intro to our product FitBOARD
      </div>
      <div class="frow nowrap mt-20">
        <label
          class="col-md-5-6 col-xs-4-5 user-form user-inputs my-custom-textarea mx-5"
        >
          <input
            id="user-email"
            type="text"
            placeholder="Enter Your Email Address"
            class="height-100"
          />
        </label>
        <button class="col-md-1-6 col-xs-1-5 mx-5">Git Fit</button>
      </div>
      <div>
        
      </div>
    </main>
  </body>
</html>
