<div class="text-center shadow-light header">
    <div class="frow row-between">
        <div class="logo">FitBOARD</div>
        <span class="color-block"></span>
    </div>
</div>
<div class="frow-container shadow-dark mt-30">
    <form novalidate="novalidate" id="testUserForm">
        <div class="frow-container user-form user-inputs mt-15">
            <form>
                <label>
                    User Name
                    <input type="textarea" id="userName" class="my-custom-textarea"></input>
                </label>
                <label>
                    Password
                    <input type="textarea" id="password" class="my-custom-textarea"></input>
                </label>
                <button id="submit-form" class="my-custom-button items-center" type="submit">
                    Submit
                </button>
        </div>
    </form>
</div>