<div class="text-center shadow-light header">
  <div class="frow row-between">
      <div class="logo">FitBOARD</div>
      <span class="color-block"></span>
  </div>
</div>
<div class="frow-container shadow-dark mt-30">
  <form novalidate="novalidate" id="userForm">
      <div class="frow gutters">
          <div class="col-md-1-2">
              <label class="mb-0">User Name</label>
              <input class="mb-10" type="text" maxlength="100" required="required" name="userName" />
              <div id="error-first-name" class="error">
                  This field is required
              </div>
          </div>
      </div>
      <div class="frow gutters">
          <div class="col-md-1-2">
              <label>
                  First Name
                  <input type="textarea" id="first-name" class="my-custom-textarea"></input>
              </label>
              <label>
                  Last Name
                  <input type="textarea" id="last-name" class="my-custom-textarea"></input>
              </label>
              <label class="mb-0">Email</label>
              <input class="mb-10" type="text" maxlength="100" required="required" name="email" />
              <div class="error">
                  This field is required
              </div>
          </div>
          <div class="col-md-1-2">
              <label class="mb-0">Password</label>
              <input class="mb-10" type="password" maxlength="100" required="required" name="password" />
              <div class="error">
                  <p>
                      Log in error:
                  </p>
                  <p>
                      Needs 8 characters
                  </p>
                  <p>
                      Must contain: one letter and one number
                  </p>
              </div>
          </div>
      </div>
       <div class="frow-container user-form user-inputs mt-15">
    <form>
      <label>
        Height
        <input type="textarea" id="first-name" class="my-custom-textarea"></input>
      </label>
      <label>
        Weight
        <input type="textarea" id="last-name" class="my-custom-textarea"></input>
      </label>
      <label>
        DOB
        <input id="date-age" type="date" class="m-5" value="" />
      </label>
      <label>
        Gender
        <select id="gender">
          <optgroup label="Gender">
            <option>Male</option>
            <option>Female</option>
            <option>Prefer not to say</option>
          </optgroup>
        </select>
      </label>
      <label class="">
        Venmo
        <input type="textarea" id="pay-source" class="my-custom-textarea"></input>
      </label>
      <label class="">
        Add a profile picture
        <input type="file" />
      </label>
      <button
        id="submit-form"
        class="my-custom-button items-center"
        type="button"
      >
        Submit
      </button>
    </form>
  </div>
  </form>
</div>