<script src="/assets/js/profile.js"></script>

<div class="header">
  <div class="frow nowrap row-between height-100">
    <div id="logo" class="shrink-0">
      <span class="color-block-landing"></span>
      <div class="frow">
        <a class="logo" id="go-home-click">FitBOARD</a>
      </div>
    </div>
    <div class="nav width-100">
      <div class="frow row-end items-center height-100 width-100">
        <div id="mobile-links" class="frow items-center grow-1" hidden>
          {{!-- <a class="ml-25" id="nav-sign-up">Sign Up</a> --}}
          {{!-- <a class="ml-25" id="nav-profile">Profile</a> --}}
          <a class="ml-25" id="nav-home">Home</a>
          <a class="ml-25" id="nav-logout">Logout</a>
          {{!-- <a class="ml-25" id="login-trigger">Login</a> --}}
        </div>
        <button class="collaps-hamburger-menu visible-xs" type="button" onclick="hamburgerDisplayLink()">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-3-4 height-100">
    <div class="frow justify-end items-center height-100">
      <nav>
        <div id="login-content">
          <form>
            <fieldset class="inputs">
              <input id="headerUsername" placeholder="Username" required>
              <input id="headerPassword" placeholder="Password" required>
            </fieldset>
            <fieldset>
              <button id="submitLogin" class="submit">Log In</button>
            </fieldset>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="profile-font">PROFILE</div>

<div class="frow-container container mt-30" id="profileInfo">
  <div>
    <div class="profile-header">Personal Information</div>
    <label class="pt-15 mt-20 profile-labels">
      Name:
    </label>
    <label class="profile-labels">
      Height:
    </label>
    <label class="profile-labels">
      Weight:
    </label>
    <label class="profile-labels">
      DOB:
    </label>
    <label class="profile-labels">
      Gender:
    </label>
    <label class="profile-labels">
      Venmo:
    </label>
  </div>

  <div class="mt-30">
    <img height="180" width="180" class="profile-pic"></img>
    <label></label>
    <label><i class="fas fa-envelope"></i></label>
  </div>
</div>

<div class="profileButton">
  <button class="updateProfile" id="updateBtn">Update Profile</button>
</div>

<div class="frow-container shadow-dark mt-100 mb-50">
  <form novalidate="novalidate" id="userProfileInfo" hidden>
    <div class="frow-container user-form user-inputs mt-15">
      <form>
        <label class="pt-15">
          Height
          <input type="textarea" id="userHeight" class="my-custom-textarea"></input>
        </label>
        <label>
          Weight
          <input type="textarea" id="userWeight" class="my-custom-textarea"></input>
        </label>
        <label>
          DOB
          <input id="date-age" type="date" class="m-5" value="" />
        </label>
        <label>
          Gender
          <select id="gender">
            <optgroup label="Gender">
              <option>Male</option>
              <option>Female</option>
              <option>Prefer not to say</option>
            </optgroup>
          </select>
        </label>
        <label class="">
          Venmo
          <input type="textarea" id="pay-source" class="my-custom-textarea"></input>
        </label>
        <label class="">
          Add a profile picture
          <input id="profileImageUpload" type="file" />
        </label>
        <button id="submit-form" class="my-custom-button items-center " type="submit">
          Submit
        </button>
        <div class="pb-10 mb-15"></div>
    </div>
  </form>
</div>