body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 70px;
  padding: 0 25px;
  background-color: #f8f8f8;
  color: black;
  font-weight: 100;
}

.logo {
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 10px;
  z-index: 100;
}

a.logo:hover {
  text-decoration: none;
}

.user-inputs {
  color: rgb(100, 97, 97);
  margin-top: 80px;
}

.my-custom-textarea {
  border: 0;
  border-radius: 3px;
  background-color: #f2f1f0;
  box-shadow: inset 0 0 3px #aaa;
  font-size: 10px;
  /* width: 150px; */
}

button.my-custom-button {
  background: none;
  border: 2px solid lightseagreen;
  color: lightseagreen;
}

.color-block-landing {
  width: 200px;
  height: 20px;
  background-color: #d3c02f;
  position: absolute;
  left: 20px;
  margin-top: 32px;
}
.cards-container {
  display: flex;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.my-custom-textarea {
  padding: 10px;
  font-size: 1em;
}

.user-inputs {
  margin: 0;
}

.collaps-hamburger-menu div {
  width: 22px;
  height: 4px;
  background-color: #777;
  margin-bottom: 4px;
}

.collaps-hamburger-menu,
.collaps-hamburger-menu:active,
.collaps-hamburger-menu:focus,
.collaps-hamburger-menu:hover {
  border: 0;
  background: none;
}

.main-wrapper {
  width: 600px;
  height: 400px;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
  margin: 10px 0;
  background-size: cover;
  position: relative;
}

.small-wrapper {
  width: 250px;
  height: 200px;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
  margin: 10px 0;
  background-size: cover;
  position: relative;
}

.login-btn {
  margin: 0 auto;
  display: block;
}

.login-drop {
  z-index: 1000;
  position: fixed;
  width: 20%;
  background-color: rgb(100, 97, 97);
  left: 75%;
}

.back-display {
  background-color: #d3c02f;
}

.slogan-font {
  font-size: 8em;
}

.color-block {
  width: 200px;
  height: 20px;
  background-color: #d3c02f;
  position: absolute;
  left: 15px;
  margin-top: 18px;
}

.user-bc {
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

.user-profile-image {
  border-radius: 50%;
}

.post-username {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  letter-spacing: 2px;
  font-weight: 600;
  font: bold;
}

.workout-font {
  color: #777;
}

.error {
  opacity: 0;
  transition: opacity 0.5s;
}

.dirty + .error,
.user-exists {
  color: red;
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  max-width: 100%; /* Full width */
  max-height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 55%; /* Could be more or less, depending on screen size */
}

.takeBtn{
  background-color: #D3C02F;
}

.submitPostBtn{
  background-color: #05386b;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* #C5D2EF lavender*/
/* #D3C02F- yellow */
/* #F2F1F0 gray */

/* LOGIN NAVIGATION */

/* nav ul {
  list-style: none;
  position: relative;
  float: right;
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

nav li {
  float: left;
} */

/* XS */
@media (max-width: 767px) {
  #mobile-links {
    justify-content: space-between;
  }
}
/* SM, MD, LG */
@media (min-width: 768px) {
  #mobile-links {
    justify-content: flex-end;
  }
  #mobile-links[hidden] {
    display: flex !important;
  }
}

nav #login-trigger:hover,
nav #login .active {
  background: #fff;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 999;
  background: white;
  background-image: linear-gradient(top, #fff, #eee);
  padding: 8px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
  border-radius: 3px 0 3px 3px;
}

.user-form input {
  background: #f1f1f1;
}

.inputs input {
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

.inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

.submit {
  background-color: lightblue;
  border-radius: 3px;
  border: 1px solid lightblue;
  height: 30px;
  padding: 10;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.submit:hover,
.submit:focus {
  background-color: #05386b;
  background-image: linear-gradient(top, #f76c6c, #e97171);
}

.submit:active {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

/* sign up box */
.sign-up {
  background-color: #05386b;
}

.index-workout {
  background-color: rgb(230, 168, 211);
}

.sign-up-btn {
  background-color: #D3C02F;
}

.top-font {
  color: white;
  font-size: 1.5em;
}

.profile-font {
  text-align: center;
  font-size: 3.5em;
  margin-top: 20px;
}

/* Scroll bar */

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/* .card-one{
  border:red;

} */

/* .card-two{
  background-color: #adadad;
}

.card-three{
  background-color: #376e6f;
}  */

.card-header {
  font-size: 2em;
  text-align: center;
}

.card-icons {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  border-radius: 25px;
}

.profile-header {
  font-size: 30px;
}

.profile-labels {
  font-size: 25px;
}

.profileButton {
  display: flex;
  justify-content: center;
}

.updateProfile {
  text-align: center;
}

html {
  background: white;
}

/* MD, LG, XL */
@media (min-width: 991px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 7vw;
    /* padding: 80px; */
  }
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  70% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
  100% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
}
@keyframes ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  70% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
  100% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
}
.popout span {
  position: relative;
  display: inline-block;
  -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
  animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

.popout span:nth-last-child(1n) {
  -webkit-animation-delay: -0.1666666667s;
  animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  -webkit-animation-delay: -0.3333333333s;
  animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

/* XS SM */
@media (max-width: 991px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 11vw;
  }
}
/* background look */
.bg-color{
  background: linear-gradient(150deg, rgb(245, 252, 255) 0%, #05386b 120%);
  /* background: rgb(52, 19, 65); */
}
.score-loc{s
position: fixed;
right: 60px;
top: 320px;
}
.half-circle {
  z-index:0;
  position: fixed;
  right: 0px;
  top: 290px;

  width: 200px;
  height: 200px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius:100px;
  border-bottom-right-radius:10px;
  border: 10px solid rgb(61, 47, 250);
  border-bottom: 100;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.circle {
  z-index:0;
  position: fixed;
  right: 600px;
  top: 200px;

  width: 200px;
  height: 200px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius:100px;
  border-bottom-right-radius:100px;
  border: 10px solid yellow;
  border-bottom: 100;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.square {
  z-index:0;
  position: fixed;
  right: 300px;
  top: 500px;

  width: 200px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border: 10px solid rgb(13, 240, 24);
  border-bottom: 100;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.triangle {
  z-index:0;
  position: fixed;
  left: 100px;
  top: 340px;

  width: 200px;
  height: 200px;
  border-top-right-radius: 10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border: 10px solid rgb(238, 8, 142);
  border-bottom: 100;
}
.triangle {
  z-index:0;
  position: fixed;
  left: 100px;
  top: 340px;

  width: 200px;
  height: 200px;
  border-top-right-radius: 10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border: 10px solid rgb(224, 240, 10);
  border-bottom: 100;
}
.triangle-left {
  position: fixed;
  left: 50px;
  top: 300px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid rgb(5, 247, 46);
  border-bottom: 50px solid transparent;
}



/* GROUP POP UP */


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 250px;
  width: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 800px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


