body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 70px;
  padding: 0 25px;
  background-color: #f8f8f8;
  color: black;
  font-weight: 100;
}

.logo {
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 10px;
  z-index: 100;
}

.user-inputs {
  color: rgb(100, 97, 97);
  margin-top: 20px;
}

.my-custom-textarea {
  border: 0;
  border-radius: 3px;
  background-color: #f2f1f0;
  box-shadow: inset 0 0 3px #aaa;
  font-size: 10px;
  /* width: 150px; */
}

button.my-custom-button {
  background: none;
  border: 2px solid lightseagreen;
  color: lightseagreen;
}

.color-block-landing {
  width: 200px;
  height: 20px;
  background-color: #d3c02f;
  position: absolute;
  left: 55px;
  margin-top: 32px;
}

.my-custom-textarea {
  padding: 15px;
}

.user-inputs {
  margin: 0;
}

#mobile-hamburger-menu div,
#collaps-hamburger-menu div {
  width: 22px;
  height: 4px;
  background-color: #777;
  margin-bottom: 4px;
}

.small-nav {
  font-size: 11px;
}


.main-wrapper {
  width: 600px;
  height: 400px;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
  margin: 10px 0;
  background-size: cover;
  position: relative;
}

.small-wrapper {
  width: 250px;
  height: 200px;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
  margin: 10px 0;
  background-size: cover;
  position: relative;
}

.fitness {
  background-image: url("../../../FitBoard.jpg");
}
.workout {
  background-image: url("https://images.unsplash.com/photo-1541600383005-565c949cf777?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.friends {
  background-image: url("https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

.competition {
  background-image: url("https://images.unsplash.com/photo-1508730328641-47c1616341b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80");
}

.back-display {
  background-color: #d3c02f;
}

.slogan-font {
  font-size: 1.8em;
  margin-top: 1em;
}


.color-block {
  width: 200px;
  height: 20px;
  background-color: #d3c02f;
  position: absolute;
  left: 15px;
  margin-top: 18px;
}

.user-bc{
  background-color: #f8f8f8;
}





/* #C5D2EF lavender*/
/* #D3C02F- yellow */
/* #F2F1F0 gray */
