.color-block {
  width: 200px;
  height: 20px;
  background-color: #d3c02f;
  position: absolute;
  margin-top: 18px;
}

.my-custom-textarea {
  padding: 15px;
}

.user-inputs {
  margin: 0;
}

#mobile-hamburger-closed div {
  width: 22px;
  height: 4px;
  background-color: #777;
  margin-bottom: 4px;
}

.small-nav {
  font-size: 11px;
}

.small-nav ul {
  margin: 0;
}

.small-nav li {
  list-style: none;
  padding-bottom: 3px;
}
