header {
  height: 70px;
  padding: 0 25px;
  background-color: blue;
  color: red;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.navigation {
  font-size: 20px;
  font-weight: 500;
}

.user-form {
  margin-top: 20px;
}
